<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
    <link href="css/<%= fontName %>.css" rel="stylesheet">
    <style>
      body { font-family: 'Roboto', sans-serif; text-align: center; background: #fff }
      code { padding: 4px 10px !important; font-size: 0.9em !important; word-wrap: break-word !important;}
      .<%= className %> { color: #e60000; }
      .usage { margin: 10px 0; }
      .logo { width: 100px; padding: 10px 0; }
      .header { padding: 30px 0 15px; }
      .container { max-width: 960px; padding: 0 15px; margin: 0 auto;}
      .glyph { padding: 0 }
      .glyph > li { display: inline-block; margin: .3em .2em; width: 5em; border-radius: .5em; position: relative; border: 1px solid gainsboro; padding: 5px 2px; height: 7em; vertical-align: middle; }
      .glyph > li > i > span { position: absolute; top: 0; left: 0; text-align: center; width: 100%; color: rgba(0,0,0,0); line-height: 1em }
      .glyph-name { font-size: .8em; color: #666; display: block }
      .glyph-codepoint { color: #999; font-family: monospace }
    </style>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header-logo">
          <span class="vf-logo--text">Vodafone</span>
        </div>
        <!--<img src="http://content.iglucruise.com/images/_i2336322.jpg" alt="" class="logo">-->
        <h1>VF Iconfont kit</h1>
      </div>
    </header>
    <div class="container">
      <script>
        // $(document).ready( function() {
        //   var url = window.location.href.split('/');
        //   var versionNo = url[url.length - 2];
        //   var version = $('.usage').html();
        //   $('.usage').html(version.replace(/version/gi, versionNo));
        // });
      </script>
      <div class="usage">
        
        <p> Include: 
          <code class="version language-html">
            <script type="text/plain">
              <link rel="stylesheet" href="https://usage-link/iconfont/version/css/<%= fontName %>.min.css" />
            </script>
          </code>
        </p>

        <p> usage: 
          <code class="language-html">
            <script type="text/plain">
              <i class="<%= className %> <%= className %>-{{icon-name}}"></i>
            </script>
          </code>
        </p>
      </div>
      <ul class="glyph"><% _.each(glyphs, function(glyph) { %>
        <li>
          <i class="<%= className %> <%= className %>-<%= glyph.name %> <%= className %>-4x"><span><%= String.fromCodePoint(glyph.codepoint) %></span></i>
          <span class="glyph-name"><%= glyph.name %></span>
          <span class="glyph-codepoint"><%= glyph.codepoint.toString(16).toUpperCase() %></span>
        </li><% }); %>
      </div>
    </ul>
  </body>
</html>
